body,
button,
input,
textarea {
    font-size: 14px;
}
.btn .btn-text-outter,
.text-small,
small {
    font-size: 10px
}
.text-lead {
    font-size: 16px
}
.lead-heading,
.text-lead-heading,
.text-lg {
    font-size: 20px
}
.contacts .contacts-link {
    font-size: 14px
}
h1 {
    font-size: 50px
}
h2 {
    font-size: 35px
}
h3 {
    font-size: 30px
}
.contacts span,
.h4,
.heading-inner .post,
.heading-inner .pre,
h4 {
    font-size: 20px
}
.h5,
h5 {
    font-size: 14px
}
code,
kbd,
pre,
samp {
    font-size: 13px
}
.confirmation-message p,
.error-message,
.input-group input {
    font-size: 16px
}
.section-counter,
.gallery-counter,
.link-more .btn .btn-text-outter-right {
    font-size: 20px
}
.btn {
    font-size: 12px
}
.btn-sm {
    font-size: 10px
}
.btn-lg {
    font-size: 12px
}
#fp-nav ul li .fp-tooltip {
    font-size: 14px
}
.fp-slidesNav ul li .fp-slide-tooltip {
    font-size: 15px
}
.content-desc {
    font-size: 16px;
}
.mission-title {
    font-size: 80px
}
.content-lg {
    font-size: 40px
}
.quotes-block {
    font-size: 18px
}
.quotespad-em {
    font-size: 16px
}
.h-content p {
    font-size: 13px
}
.whatsapp {
    font-size: 40px
}
.viber {    
    font-size: 32px
}
.contacts em {
    font-size: 14px
}
.side-navigation .s-link-lg {
    font-size: 30px
}
.side-navigation .s-link,
.side-navigation .s-link-drop {
    font-size: 20px
}
.icon-menu {
    width: 28px;
    height: 28px;
}
.side-navigation .s-link-sm {
    font-size: 20px
}
.side-navigation .author,
.side-navigation .copyright {
    font-size: 14px
}
.content-brush {
    font-size: 18px
}
.cloud-desc {
    font-size: 16px
}
.map-contact h4.m-phone {
    font-size: 24px
}